[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openAsAdmin;

[Desktop Action openAsAdmin]
Name=Open as Administrator
Icon=security-high
Exec=dolphin admin://%u
