!.rgignore

.aws
.ssh
.dblab.yaml
.config/mcpservers.json

.config/gh/hosts.yml
.config/github-copilot
.config/qBittorrent
.config/configstore
.config/colima
.config/btop
.config/pgcli
.config/neofetch
.config/tmux/plugins
.config/opencode
.config/term-images
.config/linearmouse
.config/nvim-extras
.config/ghostty/.bg-state
.config/ghostty/background
.config/hammerspoon/Spoons

.config/fish/fish_variables
.config/fish/conf.d/env.fish

stow/common/.config/fish/fish_variables
stow/common/.config/fish/conf.d/env.fish
stow/common/.config/wallpapers/
stow/linux/.config/hypr/.wallpaper-state
stow/common/.config/tmux/plugins

docs
dist
logs
.DS_Store
npm-debug.log
