[user]
	email = reactionnnnn@gmail.com
	name = r4zendev

[core]
	excludesFile = ~/.gitignore_global
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = false  # Disable side-by-side to avoid before/after views
    syntax-theme = Dracula
    line-numbers = false  # Disable line numbers for easier copying
    hyperlinks = true
    plus-style = "syntax #012800"  # Customize added lines
    minus-style = "syntax #340001"  # Customize removed lines
    zero-style = "syntax"  # Keep unchanged lines minimal
    ; features = minimal  # Remove extra clutter

[diff]
    tool = difftastic

[difftool]
    prompt = false

[merge]
    conflictStyle = diff3  # Shows base version in merge conflicts

[pager]
    difftool = true
    log = delta
    show = delta
[init]
	defaultBranch = main
