!.rgignore

# planned to use
.config/zed

.aws
.ssh
.zsh_env_vars
.config/gh/hosts.yml
.config/github-copilot
.config/qBittorrent
.config/colima
.config/gcloud
.config/pgcli
.config/tmux/plugins
.config/fish/fish_variables
.config/lazysql
.config/wezterm/images
.config/linearmouse

.config/fish/conf.d/env.fish
.config/nvim/lua/r4zen/plugins/extras/browser-tabs
.config/mcpservers.json

dist
logs
.DS_Store
npm-debug.log
