!.rgignore

.aws
.ssh
.dblab.yaml
.config/mcpservers.json

.config/gh/hosts.yml
.config/github-copilot
.config/qBittorrent
.config/configstore
.config/colima
.config/pgcli
.config/neofetch
.config/tmux/plugins
.config/opencode
.config/term-images
.config/linearmouse
.config/nvim-extras
.config/ghostty/.bg-state
.config/ghostty/background

.config/fish/fish_variables
.config/fish/conf.d/env.fish

docs
dist
logs
.DS_Store
npm-debug.log
