@use "sass:color";
@use "./colors";

.apps-window .popup-window-container {
  $radius: 48px;

  padding: 28px;
  background: colors.$bg-translucent;
  border-radius: $radius $radius 0 0;

  & entry {
    background: transparent;
    margin-bottom: 32px;
    min-width: 450px;
    padding: 14px;
    border-radius: 18px;

    &:focus-within {
      box-shadow: inset 0 0 0 2px colors.$bg-tertiary;
      background: rgba(colors.$bg-primary, .2);
    }
  }

  & flowbox {
    padding: 16px 24px;

    & > flowboxchild {
      & > button {
        padding: 10px;
        border-radius: 24px;

        & image {
          -gtk-icon-size: 64px;
        }

        & label {
          margin-top: 24px;
          text-shadow: 1px 1px 1px rgba(colors.$bg-primary, .2);
          font-weight: 500;
        }
      }

      &:focus > button, 
      &:selected > button,
      & > button:hover {
        background-color: rgba($color: colors.$bg-secondary, $alpha: .5);
      }
    }
  }
}
