@use "./colors";
@use "./mixins";

window.floating-notifications {
  $radius: 18px;

  transition: none;

  & .floating-notifications-container {
    transition: none;

    &:only-child notification {
      margin-bottom: 12px;
    }
  }

  & notification {
    padding: 4px;
    padding-bottom: 0;
    margin: 12px;
    margin-bottom: 6px;
    box-shadow: 0 0 8px 1px colors.$bg-translucent;
    border-radius: $radius;
  }
}
