@use "sass:color";
@use "colors";

.osd {
  background: rgba(colors.$bg-translucent-secondary, .6);
  padding: 14px 14px;
  border-radius: 24px;
  min-width: 180px;

  .icon {
    margin-right: 10px;
    -gtk-icon-size: 24px;
  }

  .level {
    margin-top: -6px;

    .text {
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 600;
    }

    levelbar trough block {
      border-radius: 4px;
      background: colors.$bg-primary;

      &.filled {
        min-height: 10px;
        background: colors.$bg-secondary;
      }
    }
  }
}
