[Unit]
Description=Baloo File Indexer Daemon
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/kf6/baloo_file
BusName=org.kde.baloo
Slice=background.slice
CPUWeight=1
IOWeight=1
MemoryHigh=512M

[Install]
WantedBy=graphical-session.target
