[user]
	email = reactionnnnn@gmail.com
	name = r4zendev

[core]
	excludesFile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[advice]
  forceDeleteBranch = false

[url "git@github.com:"]
  insteadOf = https://github.com/
[net]
	git-fetch-with-cli = true
