[user]
	email = reactionnnnn@gmail.com
	name = r4zendev

[core]
	excludesFile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[color "status"]
	added = "#a6e3a1"
	changed = "#f9e2af"
	untracked = "#89b4fa"
	deleted = "#f38ba8"
	branch = bold

[color "diff"]
	meta = "#89b4fa"
	frag = "#c4a7e7"
	old = "#f38ba8"
	new = "#a6e3a1"

[init]
	defaultBranch = main

[pull]
	rebase = true

[advice]
  forceDeleteBranch = false

[url "git@github.com:"]
  insteadOf = https://github.com/
[net]
	git-fetch-with-cli = true
